.buttons-container {
  display: flex;
  flex-direction: column;
  background: rgb(112, 57, 126);
}

.buttons-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  padding: 1em;
}

.buttons {
  background-color: rgb(114, 114, 114);
  border-radius: 50px;
  width: 3em;
  height: 3em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.operator {
  background-color: rgb(226, 147, 0);
}