.buttons-container {
  display: flex;
  flex-direction: column;
  background: rgb(112, 57, 126);
  overflow: hidden;
}

.buttons-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  padding: 0.3em .5em;
}

.buttons {
  background-color: rgb(114, 114, 114);
  border-radius: 50px;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  font-weight: bold;
}

.special-button{
  background-color: rgb(220, 153, 29);
}
