.input {
  display: flex;
  height: 3em;
  background-color: rgb(114, 114, 114);
  color: #fff;
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  align-items: center;
}