.input-container {
  display: flex;
  height: 1em;
  color: white;
  background-color: rgb(73, 73, 73);
  justify-content: flex-end;
  padding: 0.5em;
  font-weight: bold;
  font-size: calc(25px + 6 * ((100vw - 320px) / 680));
  align-items: center;
}
