.App {
  text-align: center;
}

.calculator-container {
  margin: 2% 37%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid black;
  background: rgb(112, 57, 126);
}

@media (max-width: 600px) {
  .App {
    padding: 2%;
  }
  .calculator-container {
    margin: 0;
  }
}