.App {
  text-align: center;
}

.calculator-container {
  margin: 2% 35%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid black;
  background: rgb(112, 57, 126);
}

input {
  text-align: right;
  padding: 1em;
  font-size: calc(25px + 6 * ((100vw - 320px) / 680));
}
