.App {
  text-align: center;
}

.calculator-container {
  margin: 2% 35%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

input {
  text-align: right;
  padding: 1em;
  font-size: calc(25px + 6 * ((100vw - 320px) / 680));
}